/*@media (min-width: 1140px){
.courses_block {
    width: 300px;
    height: 328px;
    padding: 30px 38px;
    margin-left: 0px;
}}

@media (min-width: 990px){
.courses_block {
    width: 300px;
    height: 315px;
    padding: 20px 25px;
    margin-left: 0px;
    }}

@media (min-width: 990px){
	.wrapp {
		max-width: 930px;
		margin: 0 auto;
	position: relative;
	}
}*/